<!DOCTYPE html>
<html>
    <!--HEAD-->
    <%- include('./partials/head') %>
    <body>
        <!--HEADER-->
        
        <main>
            <div class="uk-section uk-section-small">
                <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                    

                    <form method="POST" action="/users/miPerfil/<%= app.user.username %>" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="image" class="form-label">Seleccionar foto de perfil</label>
                            <input type="file" class="form-control" id="imagen" name="imagen">
                        </div>
                        <div class="mb-3">
                              <div class="text">
                                <label for="name">Cambiar nombre de usuario actual</label>
                                <input type="text" id="username" name="username" value="" placeholder="Nuevo nombre de usuario" >
                              </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                        <!--
                        <div class="text">
                            <label for="text">Sitio Web</label>
                        </div>
                        <div class="box">
                            <input type="text" id="sitio web" name="sitio web" value="" placeholder="Introduce su Sitio Web" >
                        </div>
        
                        <div class="text">
                            <label for="description">Biografía</label>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                              <label for="floatingTextarea">Coloque su Biografía aquí</label>
                            </div>
                        </div>
        
                        <div class="text">
                            <label for="date">Fecha de nacimiento</label>
                        </div>
                        <div class="box">
                            <input type="date"  id="date" name="date" id="nombre" placeholder="" >
                        </div>
        
                        <div class="text">
                            <label for="gender">Sexo</label>
                        </div>
                        <div class="box">
                            <input type="radio" id="genero" name="genero" value="" ><label>Hombre</label>
                            <input type="radio" id="genero" name="genero" value="" ><label>Mujer</label>
                            <input type="radio" id="genero" name="genero" value="" ><label>Otro</label>
                        </div>
                    -->
                        
                </div>
            </div>
        </main>
        <!--FOOTER-->
        <%- include('./partials/footer') %>
    </body>
</html>