<!DOCTYPE html>
<html>
<!--HEAD-->
<%- include('./partials/head') %>
    <body>
        <!--HEADER-->
        <%- include('./partials/headerDeslogeado') %>
        <main>
            <div class="uk-section uk-section-small">
                <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                    <form  method="POST">
                        <div class="text">
                            <label for="username" class="form-label">Nombre de usuario</label>
                            <input type="text" name="username" id="username">
                        </div>
                      
                        <div class="text">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" name="contraseña" id="contraseña">
                        </div>

                        <div class="boton">
                            <button type="submit">Iniciar Sesion</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!--FOOTER-->
        <%- include('./partials/footer') %>
    </body>
</html>
