<!DOCTYPE html>
<html>
<!--HEAD-->
<%- include('./partials/head') %>
    <body>
        <!--HEADER-->
        <%- include('./partials/headerDeslogeado') %>
        <main>
            <div class="uk-section uk-section-small">
                <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                    <form action="">
                        <div class="text">
                            <label>Correo electrónico o nombre de usuario</label>
                        </div>
                        <div class="box">
                            <input type="email" id="mail" name="mail" value="" placeholder="Correo electrónico o nombre de usuario" >
                        </div>
                        <div class="text">
                            <label>Contraseña</label>
                        </div>
                        <div class="box">
                            <input type="password" id="contraseña"name="contraseña" value="" placeholder="Contraseña" >
                        </div>
                        <div class="boton">
                            <button type="submit">Iniciar Sesion</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <!--FOOTER-->
        <%- include('./partials/footer') %>
    </body>
</html>
