<!DOCTYPE html>
<html>
    <!--HEAD-->
    <%- include('./partials/head') %>
    <body>
        <!--HEADER-->
        
        <main>
            <div class="uk-section uk-section-small">
                <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                   
                    <form method="POST">
                        <div class="mb-3">
                          <label for="email" class="form-label">Email address</label>
                          <input type="email" class="form-control" name="email" id="email" >
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="username" class="form-label">Nombre de usuario</label>
                          <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                        <div class="mb-3">
                          <label for="username" class="form-label">Nombre</label>
                          <input type="text" class="form-control" name="nombre" id="nombre" required>
                        </div>
                        <div class="mb-3">
                          <label for="username" class="form-label">Apellido</label>
                          <input type="text" class="form-control" name="apellido" id="apellido" required>
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" name="contrasenia" id="contrasenia" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                      </form>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
        <!--FOOTER-->
    </body>
</html> 